.signUpForm{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.signUpContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 7rem;
    gap: 1.5rem;
    border: 2px solid #000;
}