.datetimeCont{
    height: 100%;
    width: 10%;
    background-color: darkgray;
    font-size: 1.2rem;
}

.datetimeCont:active{
    height: 100%;
    width: 10%;
    background-color: aqua;
    font-size: 1.2rem;
}

.datetimeCont:hover{
    background-color: aqua;
    cursor: pointer;
    overflow: auto;
}

.dateWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    overflow: auto;
    
}

.selectedItem{
    height: 100%;
    width: 10%;
    background-color: aqua;
    font-size: 1.2rem;
} 
