.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.wrapper{
    display: flex;
    flex-direction: column;
    /* width: 300px; */

}

.calcTitle{
    display: flex;
    align-self: center;
    font-family: 'Monaco', monospace;
}