.articleWrapper{
    border: 2px solid black;
    height: 100%;
    width: 30%;
    overflow: hidden;
    border-radius: 5px;
    font-family: 'Monaco', monospace;
}



.articleWrapper:hover{
    background-color: rgb(236, 155, 205);
    color: black;
}

.text{
    height: 105px;
    font-family: 'Monaco', monospace;
    
}

.image{
    width: 100%;
}
