.head{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Monaco', monospace;
}

/* .linkHead{
    display: flex;
    flex-direction: column;
    align-items: ;
} */


a:hover{
    background-color: rgb(236, 155, 205);
    color: black;
    
}